<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sumativa 6
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sumativa 6</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input [formControl]="nombre" label="NOMBRE" placeholder="Escribe tu nombre"></ion-input>

      </ion-item>

      <ion-item>
        <ion-input [formControl]="Edad" label="EDAD" type="number" placeholder="Escribe tu edad"></ion-input>

      </ion-item>

      <ion-item>
        <ion-input [formControl]="email" label="CORREO:" type="email" placeholder="Escribe tu gmail"></ion-input>


      </ion-item>
      <ion-checkbox>Acepto</ion-checkbox>
    </ion-list>
    <ion-button (click)="buttonclick()">Enviar</ion-button>
  </ion-list>
  <ion-list>
    <ion-item>
      <p>{{ Name.value }}</p>
    </ion-item>
    <ion-item>
      <p>{{ Age.value }}</p>
    </ion-item>
    <ion-item>
      <p>{{ correo.value }}</p>
    </ion-item>

  </ion-list>
</ion-content>